<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="(item,index) in list" :key="item.id">
                <!-- {{item}} -->
                <div>{{item.name}}</div>
                <div>{{item.price}}</div>
                <div v-if="item.state === 0">未支付</div>
                <div v-else-if="item.state === 1">待发货</div>
                <div v-else="item.state === 2">已完成</div>
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                list:[
                    {
                        id: 1,
                        name: '手机1',
                        price: 2000,
                        state: 0 //未支付
                    },
                    {
                        id: 2,
                        name: '手机2',
                        price: 3000,
                        state: 1  //待发货
                    },
                    {
                        id: 3,
                        name: '手机3',
                        price: 4000,
                        state: 2 //已完成
                    },
                ]
            }
        })
    </script>
</body>
</html>